body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

h1 {
    font-size: 7em;
    text-align: center;
}

h2 {
    font-size: 4em;
    margin: 0;
}

p {
    /* font-size: 2em; */
    font-size: 20px;
}

div {
    margin: 0;
}

.light {
    color: #f2f2f2;
}

.red-bg {
    background-color: #a43232;
    border-radius: 10px;
    border: solid black 1px;
}

.rounded {
    border: 2px solid #a43232;
    border-radius: 6px;
    margin: 0.5em;
}

.light-red-bg {
    background-color: #bf6f6f;
}

.fake-button {
    background-color: orange;
    border-radius: 100000px;
    border: solid black 2px;
    color: black;
    padding: 0.1em 1em;
}