:root {
    --bg-red: #a43232;
    --bg-gray: #0c0a09;
    --text-color: #fef2f2;
}

body {
    color: var(--text-color);
    font: 'Times New Roman';
    background-color: black;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 10vw;
    text-align: center;
    text-shadow: 4px 4px black;
}

a {
    color: black;
}

div.bg-red {
    background-color: var(--bg-red);
}

div.bg-grave {
    background-color: --var(--bg-gray);
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(1,1,1,0.2);
    transition: 0.3s;
    color: white;
    outline: #f2f2f2;
    border-color: #555;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    animation: shrink 0.4s forwards;
    background-color: black;
    padding: 1em;
}
  
div.card:hover {
    box-shadow: 0 4px 0px 0 rgba(255,255,255,0.8);
    animation: grow 0.4s forwards;
    z-index: 10;
}

@keyframes grow {
  from {
    background-color: black;
    transform: scale(1);
  }
  to {
    background-color: #252525;
    transform: scale(1.1); 
  }
}

@keyframes shrink {
  from {
    background-color: #252525;
    transform: scale(1.1);
  }
  to {
    background-color: black;
    transform: scale(1);
    z-index: 0;
  }
}